<div class="allnewsignup container">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field newsignup">
    <%= f.text_field :name, placeholder: "Name", autofocus: true%>
  </div><br>

  <div class="field newsignup">
    <%= f.text_field :email,  placeholder: "Email"  %>
  </div><br>

  <div class="field newsignup">
    <%= f.password_field :password, autocomplete: "off",  placeholder: "Password (#{@minimum_password_length} characters minimum) "  %>
  </div><br>

  <div class="field newsignup">
    <%= f.password_field :password_confirmation, autocomplete: "off",  placeholder: "Confirm Password"  %>
  </div> <br>

  <div id="mainbutton2" class="actions btn btn-primary">
    <%= f.submit "Go!" %>
  </div>
<% end %>

or <%= render "devise/shared/links" %>

</div>