%h1 Listing groups

%table
  %tr
    %th Title
    %th Created by
    %th Min age
    %th Max age
    %th
    %th
    %th

  - @groups.each do |group|
    %tr
      %td= group.title
      %td= group.created_by
      %td= group.min_age
      %td= group.max_age
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
