%p#notice= notice

%p
  %b Title:
  = @gamingsession.title
%p
  %b Created by:
  = @gamingsession.created_by
%p
  %b Online:
  = @gamingsession.online
%p
  %b Min age limit:
  = @gamingsession.min_age_limit
%p
  %b Max age limit:
  = @gamingsession.max_age_limit
%p
  %b Description:
  = @gamingsession.description
%p
  %b Gsdate:
  = @gamingsession.gsdate
%p
  %b Active:
  = @gamingsession.active
%p
  %b Location name:
  = @gamingsession.location_name
%p
  %b Postcode:
  = @gamingsession.postcode
%p
  %b Console id1:
  = @gamingsession.console_id1
%p
  %b Console id2:
  = @gamingsession.console_id2
%p
  %b Console id3:
  = @gamingsession.console_id3

= link_to 'Edit', edit_gamingsession_path(@gamingsession)
\|
= link_to 'Back', gamingsessions_path
