%h1 Listing user_sessions

%table
  %tr
    %th User
    %th Gamingsession
    %th Accepted
    %th
    %th
    %th

  - @user_sessions.each do |user_session|
    %tr
      %td= user_session.user_id
      %td= user_session.gamingsession_id
      %td= user_session.accepted
      %td= link_to 'Show', user_session
      %td= link_to 'Edit', edit_user_session_path(user_session)
      %td= link_to 'Destroy', user_session, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User session', new_user_session_path
